<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2" style="color: blue">
                <!-- <li class="first" ng-class="{'active':header=='Manage User'}" ng-if="user.indexOf('ManageUser')>-1"><a ng-href="#header/manageUsers">Manage Users</a> -->
                <li class="first active">
                    <a href="#!/users" style="height: 40px">Users</a>
                </li>
                <li class="first active">
                    <a href="#!/vendors" style="height: 40px">Vendors</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul class="nav navbar-nav side-nav">
    <li class="prodata">
        <div class="profile-img">
            <div class="left-img">
                <img src="images/Traccar.jpg" style="width: 225px;height: 250px">
            </div>
            <div class="rightdes">
                <h3 class="title-s">Welcome Admin</h3>
                <div class="sub-title ng-binding"></div>
                <div class="logout">
                    <a style="cursor:crosshair;" ng-click="logout()"></a>
                </div>
            </div>
        </div>
    </li>
    <!--<li>-->
    <!--<a style="cursor:pointer;"href="#!/adminProfile">ADMIN PROFILE</a>-->
    <!--</li>-->

    <li>
        <a style="cursor:pointer;" href="#!/manageUser" class="">Log Out</a>
    </li>

    <li>
        <a style="cursor:pointer;" href="#!/addUser" class="">ADD USER</a>
    </li>
    <li>
        <a style="cursor:pointer;" href="#!/addVendor" class="">ADD VENDOR</a>
    </li>



    <!--  <li>
         <a>BLOCK USER</a>
     </li>
     <li>
         <a> CREATE REPORT</a>
     </li>  -->
</ul>
<h4>Add User</h4>

<div style="width: 800px; height: 470px; margin-left: 350px" >

    <form name="adduser" autocomplete="off" style="font-size: 10px">
        <div class="form-group">
            First Name
            <input type="text" name="faname" required ng-model="obj.firstname" ng-pattern="/^[a-zA-Z]{3,30}$/"
                   class="form-control">
            <span
                    ng-show='adduser.fname.$dirty&&adduser.fname.$invalid||adduser.fname.$dirty&&adduser.fname.$error.pattern'>
        Only alphabhets are allowed, 3-30 characters

  </span>
        </div>
        <div class="form-group">
            Last Name
            <input type="text" name="lname" required ng-model="obj.lastname" ng-pattern="/^[a-zA-Z ]{3,30}$/"
                   class="form-control">
            <span
                    ng-show='adduser.lname.$dirty&&adduser.lname.$invalid||adduser.lname.$dirty&&adduser.lname.$error.pattern'>
         Only alphabhets are allowed, 3-30 characters

  </span>
        </div>

        <div class="form-group">
            Email

            <input type="email" name="email" required ng-model="obj.email" ng-pattern="/\S+@\S+\.\S+/" class="form-control">
            <span
                    ng-show='adduser.email.$dirty&&adduser.email.$invalid||adduser.email.$dirty&&adduser.email.$error.pattern'>
        Please enter valid email, (eg: anything@anything.domain)

  </span>

        </div>

        <div class="form-group">
            Contact Number

            <input type="number" name="contact" required ng-model="obj.telephone_no" ng-pattern="/^[0-9]{10,14}$/"
                   class="form-control">
            <span
                    ng-show='adduser.contact.$dirty&&adduser.contact.$invalid||adduser.contact.$dirty&&adduser.contact.$error.pattern'>
    Only numbers allowed,10-14 digits
  </span>

        </div>
        <div class="form-group">
            Date of Birth

            <input type="date" name="dob" required id="dob1" ng-model="obj.dob" ng-required="true"
                   max="1999-07-18" min="1937-07-18" class="form-control">
            <span
                    ng-show='adduser.dob.$dirty&&adduser.dob.$invalid'>
        Please enter your valid Date of Birth, age between 18-88
  </span>
        </div>
        <div class="form-group">
            Region


            <select id="region" required ng-model="obj.region" class="form-control">
                <option value="">Please choose Region</option>
                <option>north</option>
                <option>south</option>
                <option>east</option>
                <option>west</option>

            </select>
        </div>

        <div class="form-group">
            Country

            <select id="country" ng-model="obj.country" required ng-focus="getData()" ng-click="getData()"
                    ng-change="getStates(obj.country)" class="form-control"
            >
                <option value="">Please choose Country</option>


                <option ng-repeat="count in country">{{count.name}}</option>
            </select>

        </div>
        <div class="form-group">
            State


            <select id="state" required ng-disabled="!obj.country" ng-model="obj.state" class="form-control">
                <option value="">Please choose State</option>
                <option ng-repeat="stat in states">{{stat}}</option>
            </select>
        </div>

        <div class="form-group">
            Gender


            <select id="gender" required ng-model="obj.gender" class="form-control">
                <option value="">Please choose Gender</option>
                <option>male</option>
                <option>female</option>

            </select>
        </div>

        <input type="submit" ng-disabled="adduser.$invalid" ng-click="add(obj)" data-dismiss="modal" value="Add User">

    </form>
</div>